<div class="row">

<h3 class="text-center">Put some flavor in your pallete</h3>

<table class='table-of-images'>
  <tr>
    <td><%= image_tag asset_url 'salty.jpg' %></td>
    <td><%= image_tag asset_url 'spicy.jpg' %></td>
    <td><%= image_tag asset_url 'sweet.jpg' %></td>
  </tr>
  <tr>
    <td><%= image_tag asset_url 'spicy.jpg' %></td>
    <td><%= image_tag asset_url 'sweet.jpg' %></td>
    <td><%= image_tag asset_url 'salty.jpg' %></td>
  </tr>
</table>

</div>
