<!-- <h3 class="text-center">Put some flavor in your pallete</h3> -->

<div class="row">

  <div class="col col-4 image-flavor-background" id="salty">
    <span>
      <!-- <h3>Taste the best food in the country, from the comfort of your own home!</h3> -->
      <%= link_to store_index_path do %>
      <button class="button">Salty</button>
      <% end %>
    </span>
  </div>


  <div class="col col-4 image-flavor-background" id="spicy">
    <span>
      <!-- <h3>Taste the best food in the country, from the comfort of your own home!</h3> -->
      <%= link_to store_index_path do %>
      <button class="button">Spicy</button>
      <% end %>
    </span>
  </div>


  <div class="col col-4 image-flavor-background" id="sweet">
    <span>
      <!-- <h3>Taste the best food in the country, from the comfort of your own home!</h3> -->
      <%= link_to store_index_path do %>
      <button class="button">Sweet</button>
      <% end %>
    </span>
  </div>


  <div class="col col-4 image-flavor-background" id="spicy">
    <span>
      <!-- <h3>Taste the best food in the country, from the comfort of your own home!</h3> -->
      <%= link_to store_index_path do %>
      <button class="button">Spicy</button>
      <% end %>
    </span>
  </div>


  <div class="col col-4 image-flavor-background" id="sweet">
    <span>
      <!-- <h3>Taste the best food in the country, from the comfort of your own home!</h3> -->
      <%= link_to store_index_path do %>
      <button class="button">Sweet</button>
      <% end %>
    </span>
  </div>


  <div class="col col-4 image-flavor-background" id="salty">
    <span>
      <!-- <h3>Taste the best food in the country, from the comfort of your own home!</h3> -->
      <%= link_to store_index_path do %>
      <button class="button">Salty</button>
      <% end %>
    </span>
  </div>


</div>
