<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%#= form.label :account_type %>
    <%#= form.select :account_type, User.account_types.keys,
                        prompt: 'Select an account type' %>

    <%# User.account_types.keys.each do |key| %>
    <!-- ADD IN : DISPLAY ADMIN ONLY IF ANOTHER ADMIN IS CURRENTLY LOGGED IN -->
    <%#= radio_button_tag(:account_type, key) %>
    <%#= label_tag(:account_type, key) %>
    <%# end %>

    <%= form.label :account_type %>
    <%= form.select :account_type, User.account_types.keys, prompt: 'Please select an account type' %>
  </div>






  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :user_phone_number, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :business_name %>
    <%= form.text_field :business_name, id: :user_business_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, id: :user_street_address, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :apartment %>
    <%= form.text_field :apartment, id: :user_apartment, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :user_city, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, User.states.keys,
                            prompt: 'Select', id: :user_state, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :user_zipcode, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :food_category %>
    <%= form.text_field :food_category, id: :user_food_category, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
