<p id="notice"><%= notice %></p>

<h1>Admin</h1>
<table class="table">
  <thead>
    <th>Name</th>
  </thead>

  <tbody>

    <% @admin_users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1>Business</h1>
<table class="table">
  <thead>
    <th>Business Name</th>
    <th>Food Category</th>
    <th>Address</th>
  </thead>

  <tbody>
    <% @business_users.each do |user| %>
    <tr>
      <td><%= link_to user.business_name, user_path(user) %></td>
      <td><%= user.food_category %></td>
      <td><%= user.street_address + ' ' + user.apartment + ' ' + user.city + ' ' + user.zipcode %></td>
    </tr>

    <% end %>
  </tbody>
</table>

<h1>Customers</h1>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </thead>
  <tbody>
  <% @customer_users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.phone_number %></td>
  </tr>

  <% end %>
  </tbody>
</table>
