<h1>Profile</h1>

<strong>Email:</strong> <%= @user.email %><br/>
<strong>Business Name:</strong> <%= @user.business_name %><br/>
<strong>Food Category:</strong> <%= @user.food_category %><br/>
<strong>Account Type:</strong> <%= @user_role_type %><br/>
<strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %><br/>
<strong>Phone Number:</strong> <%= @user.phone_number %><br/>
<strong>Address:</strong> <%= @user.street_address %><%= @user.suite %><br/>
&nbsp;&nbsp;&nbsp; <%= @user.city %> <%= @user.state %>, <%= @user.zip_code %><br/>


<br/>
<%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
<%= link_to 'Change Password', '#', class: 'btn btn-primary' %>
<%= link_to 'Change Subscription Frequency', '#', class: 'btn btn-default' %>
<%= link_to 'Delete My Account', '#', class: 'btn btn-danger' %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
