<h1><%= @user.business_name %></h1>
<%= link_to 'Edit Profile', edit_user_registration_path, class: 'button' %><br/>

<strong>Email:</strong> <%= @user.email %><br/>

<% if current_user.business_role? %>
<!--<strong>Business Name:</strong> <%= @user.business_name %><br/> -->
<strong>Food Category:</strong> <%= @user.food_category %><br/>
<% end %>

<strong>Account Type:</strong> <%= @user_role_type %><br/>
<strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %><br/>
<strong>Phone Number:</strong> <%= @user.phone_number %><br/>

<strong>Address:</strong> <%= @user.street_address %><%= @user.suite %><br/>
&nbsp;&nbsp;&nbsp; <%= @user.city %> <%= @user.state %>, <%= @user.zip_code %><br/>



<!-- links based on role -->
<% if current_user.business_role? %>
<%= link_to 'View My Products', products_path, class: 'button' %>
<%= link_to 'Outstanding Orders', '#', class: 'button' %>
<%= link_to 'Payment Ledger', '#', class: 'button' %>
<% end %>

<% if current_user.admin_role? %>
<%= link_to 'Admin Dashboard', '#', class: 'button' %>
<%= link_to 'Add Products', new_product_path, class: 'button' %>
<%= link_to 'List All Products', products_path, class: 'button' %>
<%= link_to 'List User Accounts', '#', class: 'button' %>
<%= link_to 'Unpaid Invoices', '#', class: 'button' %>
<%= link_to 'Payment Ledgers', '#', class: 'button' %>
<% end %>

<% if current_user.customer_role? %>
<%= link_to 'Order History', '#', class: 'button' %>
<%= link_to 'Track Shipments', '#', class: 'button' %>
<%= link_to 'Delete My Account', '#', class: 'button' %>
<%= link_to 'Change Subscription Frequency', '#', class: 'button' %>
<% end %>


<!-- General Links -->

<%= link_to 'log out' ,destroy_user_session_path, method: :delete, class: 'button'%>
