<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :order_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :order_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :order_email %>
  </div>

  <div class="field">
    <%= form.label :pay_type %>
    <%= form.select :pay_type, Order.pay_types.keys, id: :order_pay_type %>
  </div>

  <!-- :status, :final_total -->

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :order_phone_number %>
  </div>

  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, id: :order_street_address %>
  </div>

  <div class="field">
    <%= form.label :suite %>
    <%= form.text_field :suite, id: :order_suite %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :order_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :order_state %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, id: :order_zip_code %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
