<p id="notice"><%= notice %></p>

<h1>Your Shopping Cart</h1>

<table class="table">
<thead>
  <th><!-- IMG TAG --></th>
  <th>Product Name</th>
  <th>Quantity</th>
  <th>Price</th>
</thead>

<tbody>

<% @line_items.each do |line_item| %>
<tr>
<td><%= image_tag(line_item.product.image_file.url(:thumb)) %></td>
<td><%= line_item.product.name %></td>

<td><%= line_item.quantity %></td>

<td><%= number_to_currency(line_item.product.retail_price * line_item.quantity) %> (<%= number_to_currency(line_item.product.retail_price) %>)</td>
</tr>
<% end %>

<tr>
  <td colspan="3"><!-- blank --></td>
  <td><strong>Subtotal: <%= number_to_currency(@cart.total_price) %></strong></td>
</tr>

<tr>
  <td colspan="3"><!-- blank --></td>
  <td><strong>Shipping:</strong></td>
</tr>

<tr>
  <td colspan="3"><!-- blank --></td>
  <td><strong>Tax:</strong></td>
</tr>

<tr>
  <td colspan="3"><!-- blank --></td>
  <td><strong>Coupon / Promotional Code:</strong></td>
</tr>

<tr>
  <td colspan="3"><!-- blank --></td>
  <td><strong>Total:</strong></td>
</tr>

</tbody>
</table>


<!-- Checkout Button -->
<%= link_to 'Checkout', new_charge_path, class: 'btn btn-default' %>

<% unless controller.controller_name == 'orders' %>
<%#= button_to 'Checkout', new_order_path, method: :get %>


<%= button_to 'Empty cart', @cart, method: :delete,
                                    data: { confirm: 'Are you sure?' } %>
                                    <!-- ,
                                    remote: true -->
<% end %>


<%#= link_to 'Edit', edit_cart_path(@cart) %>
<%#= link_to 'Back', carts_path %>
