
<div class="row center-parent form-wrapper">
  <div class="col col-4 white-background-color center-child box-shadow">

    <h2 class="title text-center">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form') do |f| %>

    <div class="form-item center-parent">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'center-child w80' %>
    </div>

    <div class="form-item center-parent">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'center-child w80' %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="form-item form-checkbox">

      <%#= f.label :remember_me, class: 'checkbox' %>
      <label class="checkbox" for="user_remember_me">
        <%= f.check_box :remember_me, class: 'checkbox' %>
        Remember me
      </label>
    </div>
    <% end -%>

    <div class="form-item">
      <%= f.submit "Log in", class: 'button'%>
      <%= link_to root_url do %>
      <button class="button secondary outline">Cancel</button>
      <% end %>
    </div>

    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
