<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :user_id, 'Business' %>
    <%= form.select :user_id, options_from_collection_for_select(User.where(business_role: true), :id, :business_name), prompt: 'Select', id: :product_user_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :product_image %>
  </div>

<div class="field">
  <%= form.label :wholesale_price %>
  <%= form.text_field :wholesale_price, id: :product_wholesale_price %>
</div>

<div class="field">
  <%= form.label :retail_price %>
  <%= form.text_field :retail_price, id: :product_retail_price %>
</div>

<div class="field">
  <%= form.label :discount_percentage %>
  <%= form.text_field :discount_percentage, id: :product_discount_percentage %>
</div>

<div class="field">
  <%= form.label :discount_expiration_date %>
  <%#= form.check_box :discount_expiration_date, value: nil %>
  <%= form.date_select :discount_expiration_date, :order => [:month, :day, :year], id: :product_discount_expiration_date %>
</div>

<div class="field">
  <%= form.label :image_file %>
  <%= form.file_field :image_file, id: :product_image_file %>
</div>

<!-- ADD ATTRIBUTES OF THE BELOW -->
<div class="field">
  <%= form.label 'Typical Shelf Life' %>
</div>

<div class="field">
  <%= form.label 'Max Number of Days Product Can Survive Transit' %>
</div>

<div class="field">
  <%= form.label 'Minimum Number of Quantity per Purchase' %>
</div>

<div class="field">
  <%= form.label 'Maximum Number of Quantity per Purchase' %>
</div>

<div class="field">
  <%= form.label 'Packaging Information' %>
</div>

<div class="field">
  <%= form.label 'Federal / State Shipping Laws' %>
</div>

<!-- Filtering Info -->

<div class="field">
  <%= form.label 'Cold / Hot / Frozen / Room Temp' %>
</div>

<div class="field">
  <%= form.label 'Flavor Tags' %>
</div>

<div class="field">
  <%= form.label 'Food Type' %>
</div>

<div class="field">
  <%= form.label 'ID / Model Name' %>
</div>

<div class="field">
  <%= form.label 'product slug?' %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
