<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :user_id, 'Business' %>
    <%= form.select :user_id, options_from_collection_for_select(User.where(business_role: true), :id, :business_name), prompt: 'Select', id: :product_user_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :product_image %>
  </div>

<div class="field">
  <%= form.label :wholesale_price %>
  <%= form.text_field :wholesale_price, id: :product_wholesale_price %>
</div>

<div class="field">
  <%= form.label :retail_price %>
  <%= form.text_field :retail_price, id: :product_retail_price %>
</div>

<div class="field">
  <%= form.label :discount_percentage %>
  <%= form.text_field :discount_percentage, id: :product_discount_percentage %>
</div>

<div class="field">
  <%= form.label :discount_expiration_date %>
  <%#= form.check_box :discount_expiration_date, value: nil %>
  <%= form.date_select :discount_expiration_date, :order => [:month, :day, :year], id: :product_discount_expiration_date %>
</div>

<div class="field">
  <%= form.label :image_file %>
  <%= form.file_field :image_file, id: :product_image_file %>
</div>

<!-- ADD ATTRIBUTES OF THE BELOW -->
<div class="field">
  <%= form.label :temperature_requirements %>
  <%= form.text_field :temperature_requirements, id: :product_temperature_requirements %>
</div>

<div class="field"><!-- integer / in days -->
  <%= form.label :shelf_life %>
  <%= form.text_field :shelf_life, id: :product_shelf_life %>
</div>

<div class="field">
  <%= form.label :max_hours_of_survival_in_transit %>
  <%= form.text_field :max_hours_of_survival_in_transit, id: :product_max_hours_of_survival_in_transit %>
</div>

<div class="field">
  <%= form.label :min_num_of_qty_per_purchase %>
  <%= form.text_field :min_num_of_qty_per_purchase, id: :product_min_num_of_qty_per_purchase %>
</div>

<div class="field">
  <%= form.label :max_num_of_qty_per_purchase %>
  <%= form.text_field :max_num_of_qty_per_purchase, id: :product_max_num_of_qty_per_purchase %>
</div>

<div class="field">
  <%= form.label :packaging_requirements %>
  <%= form.text_field :xx, id: :product_ %>
</div>

<div class="field">
  <%= form.label :federal_and_state_shipping_laws %>
  <%= form.text_field :federal_and_state_shipping_laws, id: :product_federal_and_state_shipping_laws %>
</div>

<!-- Filtering Info -->

<div class="field">
  <%= form.label :frozen_cold_room_temp_or_hot %>
  <%= form.text_field :frozen_cold_room_temp_or_hot, id: :product_frozen_cold_room_temp_or_hot %>
</div>

<div class="field">
  <%= form.label :flavor_tags %>
  <%= form.text_field :flavor_tags, id: :product_flavor_tags %>
</div>

<div class="field">
  <%= form.label :food_type_tags %>
  <%= form.text_field :food_type_tags, id: :product_food_type_tags %>
</div>

<div class="field">
  <%= form.label :external_model_number %>
  <%= form.text_field :external_model_number, id: :product_external_model_number %>
</div>

<div class="field">
  <%= form.label :slug %>
  <%= form.text_field :slug, id: :product_slug %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
