<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@product.image_file.url(:large)) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Wholesale Price:</strong>
  <%= @product.wholesale_price %>
</p>

<p>
  <strong>Retail Price:</strong>
  <%= @product.retail_price %>
</p>

<p>
  <strong>Discount Percentage</strong>
  <%= @product.discount_percentage %>
</p>

<p>
  <strong>Discount Expiration Date:</strong>
  <%= @product.discount_expiration_date %>
</p>

<p>
  <strong>User ID Parent</strong>
  <%= @product.user_id %>
</p>

<br/>




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
