<!DOCTYPE html>
<html>
  <head>
    <title>LocalFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="orange-background-color">


  <% flash.each do |message_type, message| %>
  <div class="message <%= message_type %>" data-component="message"> <%= message %>  <span class="close small"></span> </div>
  <% end %>


    <%= yield %>



  </body>
</html>
