<h1>Store</h1>

<div class="row">
<% @products.each do |product|  %>
<div class="col col-4">

<div class="card">


  <%= image_tag(product.image_file.url(:medium)) %>
  <div class="container">
  <%= product.name %> by <%= product.user.business_name %>
  <%= product.description %>
  <%= number_to_currency(product.retail_price) %>
  <%= button_to 'Add to Cart', line_items_path(product_id: product.id), class: 'btn btn-primary' %> <!-- ,
            remote: true  ///// Note: remote: true caused double SQL entries to be created while cart is empty. -->

</div><!-- ./container -->
</div><!-- ./card -->

</div><!-- ./col -->
<% end %>
</div><!-- ./row -->

<!--
<div class="card">
  <img src="img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Jane Doe</b></h4>
    <p>Interior Designer</p>
  </div>
</div> -->
