<div class="row navigation-bar align-middle around" data-component="sticky">

  <div class="col col-6">
    <div class="row align-miggle">
      <div class="col col-6">
        <!-- logo -->
        <%= link_to root_url do %>
        <%= image_tag asset_url 'shipfoodtome-logo.svg', class: 'nav-logo' %>
        <% end %>
      </div>
      <div class="col col-6">
        <!-- leave blank -->
      </div>
    </div>
    <!-- ./row -->
  </div>

  <div class="col col-6">

    <div class="row">
      <div class="col col-6 center-parent">
        <!-- search bar -->
        <input type="text" class="transparent-search w90 center-child" placeholder="Search"/>

      </div>

      <div class="col col-3 center-parent">
        <!-- login -->
        <% if user_signed_in? %>
        <%#= render 'layouts/signed_in_nav' %>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <button class="button secondary w80 center-child">Log out</button>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
        <button class="button secondary w80 center-child">Log in</button>
        <% end %>

        <% end %>
      </div>

      <div class="col col-3 center-parent">
        <!-- cart -->
        <%= link_to cart_path(@cart) do %>
        <button class="button secondary w80 center-child">
          <%= number_to_currency(@cart.total_price) %>
          Cart
          <%#= image_tag asset_url 'shopping-cart.svg' %>
        </button>
        <% end %>
      </div>

    </div>
    <!-- ./row -->

  </div>

</div>
<!-- ./row -->
