  <ul class="navigation-bar">
  <!-- logo -->
  <li class="navigation-header">
  <%= link_to root_url do %>
  <h1 class="nav-logo">shipfoodto.me</h1>
  <% end %>
  </li>

  <!-- cart -->
  <li class="navigation-button">
  <%= link_to cart_path(@cart) do %>
  <button class="standard-button nav-button-1">
    <%= number_to_currency(@cart.total_price) %>&nbsp;Cart
  </button>
  <% end %>
  </li>

  <!-- Log in / profile link  -->
  <li  class="navigation-button">
  <% if user_signed_in? %>
  <%= link_to profile_path do %>
  <button class="standard-button nav-button-2">Profile</button>
  <% end %>

  <% else %>
  <%= link_to new_user_session_path do %>
  <button class="standard-button nav-button-2">Log in</button>
  <% end %>

  <% end %>
  </li>

  <!-- search bar -->

  <li class="navigation-search">
  <input type="text" class="search-bar" placeholder="Search"/>
  </li>

  </ul>
