<!-- Toggle -->
<a href="#" data-component="dropdown" data-target="#my-dropdown">Show <span class="caret down"></span></a>

<!-- Dropdown -->
<div class="dropdown hide" id="my-dropdown">
    <a href="" class="close show-sm"></a>
    <ul>
        <li><a href="">...</a></li>
    </ul>
</div>





  <!-- START DROPDOWN MENU -->
  <ul class="dropdown-menu">
    <li><%= link_to 'Profile', profile_path %></li>
    <!-- START BUSINESS DROPDOWN -->
    <% if current_user.business_role? %>
    <li class="divider"></li>
    <li>
      <%= link_to 'View My Products', products_path %>
    </li>
    <li>
      <a href="#">Outstanding Orders</a>
    </li>
    <li>
      <a href="#">Payment Ledger</a>
    </li>
    <% end %>
    <!-- END BUSINESS DROPDOWN -->

    <!-- START ADMIN DROPDOWN -->
    <% if current_user.admin_role? %>
    <li class="divider"></li>
    <li>
      <%= link_to 'Add Products', new_product_path %>
    </li>
    <li>
      <%= link_to 'List All Products', products_path %>
    </li>
    <li>
      <%= link_to 'List User Accounts', '#' %>
      <!-- users_path -->
    </li>
    <li>
      <%= link_to 'Unpaid Invoices', '#' %>
    </li>
    <% end %>
    <!-- END ADMIN DROPDOWN -->

    <!-- START CUSTOMER ROLE DROPDOWN -->
    <% if current_user.customer_role? %>
    <li class="divider"></li>

    <li>
      <%= link_to 'Order History', '#' %>
    </li>
    <li>
      <%= link_to 'Track Shipments', '#' %>
    </li>
    <% end %>
    <!-- END CUSTOMER ROLE DROPDOWN -->
    <li class="divider"></li>
    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
  </ul>
