
<!-- https://blog.bufferapp.com/social-media-icons -->
  <!-- <div class="row"> -->
    <div id="social-media-links" class="center-block text-center">

      <%= link_to (asset_path 'iconmonstr-facebook.svg'), '#' %>
      <%= link_to (asset_path 'iconmonstr-instagram.svg'), '#' %>
      <%= link_to (asset_path 'iconmonstr-linkedin.svg'), '#' %>
      <%= link_to (asset_path 'iconmonstr-pinterest.svg'), '#' %>
      <%= link_to (asset_path 'iconmonstr-tumblr.svg'), '#' %>
      <%= link_to (asset_path 'iconmonstr-twitter.svg'), '#' %>
    </div>

  <!-- </div> -->
