
<!-- https://blog.bufferapp.com/social-media-icons -->
  <!-- <div class="row"> -->
    <div id="social-media-links" class="center-block text-center">

      <%= link_to (image_tag 'iconmonstr-facebook'), '#' %>
      <%= link_to (image_tag 'iconmonstr-instagram'), '#' %>
      <%= link_to (image_tag 'iconmonstr-linkedin'), '#' %>
      <%= link_to (image_tag 'iconmonstr-pinterest'), '#' %>
      <%= link_to (image_tag 'iconmonstr-tumblr'), '#' %>
      <%= link_to (image_tag 'iconmonstr-twitter'), '#' %>
    </div>

  <!-- </div> -->
