
<!-- https://blog.bufferapp.com/social-media-icons -->
  <!-- <div class="row"> -->
    <div id="social-media-links" class="center-block text-center">
      <%= link_to (image_tag asset_url('iconmonstr-facebook.svg')), '#' %>
      <%= link_to (image_tag asset_url('iconmonstr-instagram.svg')), '#' %>
      <%= link_to (image_tag asset_url('iconmonstr-linkedin.svg')), '#' %>
      <%= link_to (image_tag asset_url('iconmonstr-pinterest.svg')), '#' %>
      <%= link_to (image_tag asset_url('iconmonstr-tumblr.svg')), '#' %>
      <%= link_to (image_tag asset_url('iconmonstr-twitter.svg')), '#' %>
    </div>

  <!-- </div> -->
