<!DOCTYPE html>
<html>
  <head>
    <title>LocalFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container-fluid">
      <div class="row">
      <div class="title-header">
        <%= link_to 'shipfoodtoME', root_url, class: 'center-block text-center logo' %>
        <%= render 'layouts/social-media-row' %>
      </div>
    </div><!-- ./row -->




    <!-- <h1 class="main-title text-center">shipfoodto.me</h1> -->


    <%= render 'layouts/navigation' %>


    <!--<p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>-->



  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= message %>
  </div>
  <% end %>


    <%= yield %>


    </div><!-- ./container-fluid -->


  </body>
</html>
