<!DOCTYPE html>
<html>
  <head>
    <title>LocalFood</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- added -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<%= render 'layouts/navigation_bar' %>

<% flash.each do |message_type, message| %>
<div class="message <%= message_type %>" data-component="message"> <p><%= message %></p> </div>
<% end %>


<% unless controller.controller_name == 'static_pages' && controller.action_name == 'landing_page' %>
<div class="content">
<% end %>

    <!--<p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>-->

    <%= yield %>

    <br/>


    <%= debug(params) if Rails.env.development? %>



<% unless controller.controller_name == 'static_pages' && controller.action_name == 'landing_page' %>
</div><!-- ./content -->
<% end %>

    <%= render 'layouts/footer' %>




  </body>
</html>
